<!doctype html>
<html ng-app="templatesApp" ng-csp>
<head>
<style type="text/css">
	#mainPopup {
		padding: 10px;
		height: 200px;
		width: 400px;
		font-family: Helvetica, Ubuntu, Arial, sans-serif;
	}
	h1 {
		font-size: 2em;
	}
</style>
<script language="javascript" type="text/javascript" src="../../js/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="../../js/angular.min.js"></script>
<script language="javascript" type="text/javascript" src="../../js/app.js"></script>
</head>
<body>
<div id="mainPopup" ng-controller="TemplatesController">
<h1>Saved Templates!</h1>
<div>
	<input type="text" ng-model="searchTerm.name" placeholder="Search...." />
</div>
<ul>
	<li ng-repeat="template in templatesData | filter:searchTerm:strict"><a href="#" ng-click="copyTemplateValue(template)">{{template.name}}</a></li>
</ul>
</div>
</body>
</html>